.wrapper-car-control{
    height: 100%;
    width: 100%;

    .positioning{
        display: flex;
        justify-content: center;
      
    }
    .title-details-view-car{
        display: flex;
        justify-content: center;
        color: #97F9F9;
        font-size: 40px;
        padding-top: 50px;
    }
}