.login-container{
   
    padding:50px;
    background-color: #97F9F9;
    
    
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 200px;
    margin-bottom: 1000px;
    padding-bottom:100px;
    border-radius: 10px;

    .title-container{
        display: flex;
        justify-content: center;
    }
    
    
    .form-container{
        display: flex;
        justify-content: center;
        
        
        .input-details{
            border-radius: 5px;
            border:0px;
            color:black;
            font-size: 20px;
            font-weight: 500;
            margin:5px;
            
        }
        .submit-details{
            display: flex;
            justify-content: center;
            margin-top:5px;
            border-radius: 10px;
            border:0px;
            background-color: #170312;
            color:#97F9F9;
            font-size: 20px;
            font-weight: 500;
            margin-left:100px;
            cursor:pointer;
        }
    }

}


