.table-container {
    padding-top: 50px;
    text-align: center;

    th,
    td {
        padding: 10px;
    }

    th {
        background-color: #97F9F9;
        border-radius: 10px;
    }

    td {
        color: white;
    }
}