.wrapper-view-users{
    height: 100%;
    width: 100%;

    .positioning-users{
        display: flex;
        justify-content: center;
      
    }
    .user-details{
        display: flex;
        justify-content: center;
        color: #97F9F9;
        font-size: 40px;
        padding-top: 50px;
    }
}